In [1]:
import pandas as pd
# reduce data frame to the top 1000 rows and select columns for regression analysis

In [2]:
import os
print(os.getcwd())
import glob

C:\Users\pc2\Desktop\Datamining python code

In [3]:
file_list=glob.glob('data/*')

In [4]:
file_list

['data\\accidents.csv',
 'data\\AccidentsFull.csv',
 'data\\AccidentsNN.csv',
 'data\\AdSales.csv',
 'data\\Airfares.csv',
 'data\\Amtrak data.csv',
 'data\\ApplianceShipments.csv',
 'data\\Bankruptcy.csv',
 'data\\banks.csv',
 'data\\BathSoapHousehold.csv',
 'data\\bicup2006.csv',
 'data\\BostonHousing.csv',
 'data\\CatalogCrossSell.csv',
 'data\\Cereals.csv',
 'data\\CharlesBookClub.csv',
 'data\\Cosmetics.csv',
 'data\\Coursetopics.csv',
 'data\\DepartmentStoreSales.csv',
 'data\\drug.csv',
 'data\\eBayAuctions.csv',
 'data\\ebayNetwork.csv',
 'data\\EbayTreemap.csv',
 'data\\Faceplate.csv',
 'data\\fiftytransactions.csv',
 'data\\FlightDelays.csv',
 'data\\gdp.csv',
 'data\\GermanCredit.csv',
 'data\\LaptopSales.csv',
 'data\\LaptopSalesJanuary2008.csv',
 'data\\liftexample.csv',
 'data\\ownerExample.csv',
 'data\\RidingMowers.csv',
 'data\\SC-US-students-GPS-data-2016.csv',
 'data\\SCOM-cust-list-non-US-lat-long.csv',
 'data\\Sept11Travel.csv',
 'data\\ShampooSales.csv',
 'data\\SouvenirSales.csv',
 'data\\SP500.csv',
 'data\\spambase.csv',
 'data\\SystemAdministrators.csv',
 'data\\Taxi-cancellation-case.csv',
 'data\\Tayko.csv',
 'data\\tinydata.csv',
 'data\\ToyotaCorolla.csv',
 'data\\ToysRUsRevenues.csv',
 'data\\UniversalBank.csv',
 'data\\Universities.csv',
 'data\\Utilities.csv',
 'data\\Veerhoven.csv',
 'data\\Voter-Persuasion.csv',
 'data\\WestRoxbury.csv',
 'data\\Wine.csv']

In [9]:
len(file_list)

52

In [13]:
for i in range(len(file_list)):
    if file_list[i]=='data\\ToyotaCorolla.csv':
        file=file_list[i]
        
file

'data\\ToyotaCorolla.csv'

In [14]:
car_df = pd.read_csv(file, encoding= 'unicode_escape')
#. 의미는 pd가 가지고 있는 read_csv 기능
car_df

,Id,Model,Price,Age_08_04,Mfg_Month,Mfg_Year,KM,Fuel_Type,HP,Met_Color,...,Powered_Windows,Power_Steering,Radio,Mistlamps,Sport_Model,Backseat_Divider,Metallic_Rim,Radio_cassette,Parking_Assistant,Tow_Bar
0,1,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13500,23,10,2002,46986,Diesel,90,1,...,1,1,0,0,0,1,0,0,0,0
1,2,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13750,23,10,2002,72937,Diesel,90,1,...,0,1,0,0,0,1,0,0,0,0
2,3,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,13950,24,9,2002,41711,Diesel,90,1,...,0,1,0,0,0,1,0,0,0,0
3,4,TOYOTA Corolla 2.0 D4D HATCHB TERRA 2/3-Doors,14950,26,7,2002,48000,Diesel,90,0,...,0,1,0,0,0,1,0,0,0,0
4,5,TOYOTA Corolla 2.0 D4D HATCHB SOL 2/3-Doors,13750,30,3,2002,38500,Diesel,90,0,...,1,1,0,1,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1431,1438,TOYOTA Corolla 1.3 16V HATCHB G6 2/3-Doors,7500,69,12,1998,20544,Petrol,86,1,...,1,1,0,1,1,1,0,0,0,0
1432,1439,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,10845,72,9,1998,19000,Petrol,86,0,...,0,1,0,0,1,1,0,0,0,0
1433,1440,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,8500,71,10,1998,17016,Petrol,86,0,...,0,1,0,0,0,1,0,0,0,0
1434,1441,TOYOTA Corolla 1.3 16V HATCHB LINEA TERRA 2/3-...,7250,70,11,1998,16916,Petrol,86,1,...,0,0,0,0,0,1,0,0,0,0
1435,1442,TOYOTA Corolla 1.6 LB LINEA TERRA 4/5-Doors,6950,76,5,1998,1,Petrol,110,0,...,0,1,0,0,0,0,0,0,0,0

In [19]:
car_df = car_df.iloc[0:1000]

In [20]:
car_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 39 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Id                 1000 non-null   int64
 1   Model              1000 non-null   object
 2   Price              1000 non-null   int64
 3   Age_08_04          1000 non-null   int64
 4   Mfg_Month          1000 non-null   int64
 5   Mfg_Year           1000 non-null   int64
 6   KM                 1000 non-null   int64
 7   Fuel_Type          1000 non-null   object
 8   HP                 1000 non-null   int64
 9   Met_Color          1000 non-null   int64
 10  Color              1000 non-null   object
 11  Automatic          1000 non-null   int64
 12  CC                 1000 non-null   int64
 13  Doors              1000 non-null   int64
 14  Cylinders          1000 non-null   int64
 15  Gears              1000 non-null   int64
 16  Quarterly_Tax      1000 non-null   int64
 17  Weight             1000 non-null   int64
 18  Mfr_Guarantee      1000 non-null   int64
 19  BOVAG_Guarantee    1000 non-null   int64
 20  Guarantee_Period   1000 non-null   int64
 21  ABS                1000 non-null   int64
 22  Airbag_1           1000 non-null   int64
 23  Airbag_2           1000 non-null   int64
 24  Airco              1000 non-null   int64
 25  Automatic_airco    1000 non-null   int64
 26  Boardcomputer      1000 non-null   int64
 27  CD_Player          1000 non-null   int64
 28  Central_Lock       1000 non-null   int64
 29  Powered_Windows    1000 non-null   int64
 30  Power_Steering     1000 non-null   int64
 31  Radio              1000 non-null   int64
 32  Mistlamps          1000 non-null   int64
 33  Sport_Model        1000 non-null   int64
 34  Backseat_Divider   1000 non-null   int64
 35  Metallic_Rim       1000 non-null   int64
 36  Radio_cassette     1000 non-null   int64
 37  Parking_Assistant  1000 non-null   int64
 38  Tow_Bar            1000 non-null   int64
dtypes: int64(36), object(3)
memory usage: 304.8+ KB

In [27]:
car_df.columns

Index(['Id', 'Model', 'Price', 'Age_08_04', 'Mfg_Month', 'Mfg_Year', 'KM',
       'Fuel_Type', 'HP', 'Met_Color', 'Color', 'Automatic', 'CC', 'Doors',
       'Cylinders', 'Gears', 'Quarterly_Tax', 'Weight', 'Mfr_Guarantee',
       'BOVAG_Guarantee', 'Guarantee_Period', 'ABS', 'Airbag_1', 'Airbag_2',
       'Airco', 'Automatic_airco', 'Boardcomputer', 'CD_Player',
       'Central_Lock', 'Powered_Windows', 'Power_Steering', 'Radio',
       'Mistlamps', 'Sport_Model', 'Backseat_Divider', 'Metallic_Rim',
       'Radio_cassette', 'Parking_Assistant', 'Tow_Bar'],
      dtype='object')

In [29]:

predictors = ['Age_08_04', 'KM', 'Fuel_Type', 'HP', 'Met_Color', 'Automatic', 'CC', 'Doors', 'Quarterly_Tax', 'Weight']
#X변수에 저장해줄 것들
outcome = 'Price'
#y 에 저장해줄 시리즈

In [30]:
X=pd.get_dummies(car_df[predictors],drop_first=True)

In [31]:
y=car_df[outcome]

In [24]:
X

,Age_08_04,KM,HP,Met_Color,Automatic,CC,Doors,Quarterly_Tax,Weight,Fuel_Type_Diesel,Fuel_Type_Petrol
0,23,46986,90,1,0,2000,3,210,1165,1,0
1,23,72937,90,1,0,2000,3,210,1165,1,0
2,24,41711,90,1,0,2000,3,210,1165,1,0
3,26,48000,90,0,0,2000,3,210,1165,1,0
4,30,38500,90,0,0,2000,3,210,1170,1,0
...,...,...,...,...,...,...,...,...,...,...,...
995,68,42750,110,1,0,1600,3,69,1050,0,1
996,67,42102,110,1,0,1600,5,85,1075,0,1
997,63,41586,110,1,0,1600,5,19,1114,0,1
998,64,41200,110,0,0,1600,5,85,1070,0,1
999,57,40214,86,0,0,1300,3,69,1025,0,1

In [32]:
from sklearn.model_selection import train_test_split
X_train_all, X_test, y_train_all, y_test = train_test_split(X, y,test_size=0.2,random_state=1)#random_state는 seed number 같은 sampling유지

In [33]:
X_train,X_valid,y_train,y_valid=train_test_split(X_train_all, y_train_all, test_size=0.2, random_state=1)

In [43]:
from sklearn.linear_model import LinearRegression
car_lm = LinearRegression()
car_lm.fit(X_train, y_train)

LinearRegression()

In [45]:
#print coefficient
print(pd.DataFrame({'Features':X.columns, 'coefficient':car_lm.coef_}))

            Features  coefficient
0          Age_08_04  -128.996864
1                 KM    -0.019372
2                 HP    38.634771
3          Met_Color    51.641971
4          Automatic   353.797438
5                 CC     0.005450
6              Doors   -74.881724
7      Quarterly_Tax    11.109667
8             Weight    15.895814
9   Fuel_Type_Diesel  1201.314921
10  Fuel_Type_Petrol  2126.403580

In [46]:
from dmba import regressionSummary

In [47]:
regressionSummary(y_train, car_lm.predict(X_train))

Regression statistics

                      Mean Error (ME) : 0.0000
       Root Mean Squared Error (RMSE) : 1369.9359
            Mean Absolute Error (MAE) : 1016.3656
          Mean Percentage Error (MPE) : -0.9579
Mean Absolute Percentage Error (MAPE) : 9.0395

In [50]:
regressionSummary(y_valid, car_lm.predict(X_valid))

Regression statistics

                      Mean Error (ME) : 47.5847
       Root Mean Squared Error (RMSE) : 1410.1987
            Mean Absolute Error (MAE) : 1081.5876
          Mean Percentage Error (MPE) : -1.4328
Mean Absolute Percentage Error (MAPE) : 9.6380

In [41]:
import statsmodels.api as sm  
train_X2 = sm.add_constant(X_train)
est = sm.OLS(y_train, X_train)
print(est.fit().summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  Price   R-squared (uncentered):                   0.988
Model:                            OLS   Adj. R-squared (uncentered):              0.987
Method:                 Least Squares   F-statistic:                              4534.
Date:                Tue, 27 Apr 2021   Prob (F-statistic):                        0.00
Time:                        23:34:53   Log-Likelihood:                         -5534.3
No. Observations:                 640   AIC:                                  1.109e+04
Df Residuals:                     629   BIC:                                  1.114e+04
Df Model:                          11
Covariance Type:            nonrobust
====================================================================================
                       coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------------
Age_08_04         -134.4186      4.406    -30.510      0.000    -143.070    -125.767
KM                  -0.0201      0.002     -8.958      0.000      -0.024      -0.016
HP                  40.1330      4.864      8.250      0.000      30.581      49.685
Met_Color           20.1431    120.574      0.167      0.867    -216.633     256.920
Automatic          436.2529    268.132      1.627      0.104     -90.290     962.796
CC                   0.0042      0.098      0.043      0.965      -0.187       0.196
Doors              -60.8196     61.020     -0.997      0.319    -180.647      59.008
Quarterly_Tax       11.7238      2.646      4.431      0.000       6.528      16.919
Weight              12.1944      0.795     15.335      0.000      10.633      13.756
Fuel_Type_Diesel   983.6829    593.670      1.657      0.098    -182.133    2149.498
Fuel_Type_Petrol  1556.3512    527.876      2.948      0.003     519.738    2592.964
==============================================================================
Omnibus:                       64.588   Durbin-Watson:                   1.994
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              290.153
Skew:                           0.320   Prob(JB):                     9.86e-64
Kurtosis:                       6.236   Cond. No.                     9.94e+05
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The condition number is large, 9.94e+05. This might indicate that there are
strong multicollinearity or other numerical problems.

In [42]:
# Use predict() to make predictions on a new set
car_lm_pred = car_lm.predict(X_valid)
result = pd.DataFrame({'Predicted': car_lm_pred, 'Actual':y_valid, 'Residual': y_valid - car_lm_pred})
print(result.head(20))

# print performance measures (validation data)
regressionSummary(y_valid, car_lm_pred)

        Predicted  Actual     Residual
340  13883.140615   11900 -1983.140615
500  11848.157441    9700 -2148.157441
118  18536.468548   19250   713.531452
792   9162.471557    7750 -1412.471557
635   7828.099594    8750   921.900406
478  10901.590411   10500  -401.590411
670   7404.887299    5950 -1454.887299
83   17391.900542   17950   558.099458
525  11425.039842   10250 -1175.039842
489  11324.413822    9940 -1384.413822
942  11116.950412   10500  -616.950412
57   15330.315641   15250   -80.315641
227  13122.322720   11690 -1432.322720
650   8800.906623    9450   649.093377
166  18478.425803   19950  1471.574197
809   7954.665204    9450  1495.334796
963  10549.454436    9950  -599.454436
48   18099.961042   17950  -149.961042
985  11270.284476    9950 -1320.284476
203  12538.884996   10450 -2088.884996

Regression statistics

                      Mean Error (ME) : 47.5847
       Root Mean Squared Error (RMSE) : 1410.1987
            Mean Absolute Error (MAE) : 1081.5876
          Mean Percentage Error (MPE) : -1.4328
Mean Absolute Percentage Error (MAPE) : 9.6380